arrow==1.2.3
certifi==2025.1.31
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
greenlet==2.0.2
idna==3.10
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
jinja2-time==0.2.0
make==0.1.6.post2
MarkupSafe==2.0.1
pkg-resources==0.0.0
python-dateutil==2.9.0.post0
python-dotenv==0.20.0
requests==2.27.1
six==1.17.0
SQLAlchemy==1.4.54
typing-extensions==4.1.1
urllib3==1.26.20
Werkzeug==2.0.3
zipp==3.6.0
